
<div class="luka-layout">

  <app-sidebar></app-sidebar>

  <div class="luka-main" [class.collapsed]="sidebarState.collapsed()">
    <app-header></app-header>

    <main class="luka-content">
      <div class="content-inner">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

  <app-modal-completar-perfil *ngIf="mostrarCompletarPerfil()" (completado)="mostrarCompletarPerfil.set(false)"></app-modal-completar-perfil>

  <!-- Notificaciones flotantes globales -->
  <app-notificacion-centro></app-notificacion-centro>

</div>
