<div class="card-wrap" [class.activo]="activo" (click)="seleccionar.emit()">
  <div class="card-header">
    <div class="icon-orb" [style.color]="modulo.tagColor" [style.border-color]="modulo.tagColor + '44'">
      <i [className]="modulo.icon"></i>
    </div>
    <span class="category-tag" [style.background]="modulo.tagColor + '15'" [style.color]="modulo.tagColor">
      {{ modulo.tag }}
    </span>
  </div>
  <div class="card-body">
    <h3 class="modulo-title">{{ modulo.label }}</h3>
    <p class="modulo-desc">{{ modulo.descripcion }}</p>
  </div>
  <div class="card-footer">
    <span class="action-text">Configurar análisis <i class="fa-solid fa-arrow-right"></i></span>
  </div>
</div>
