# --- GENERAL & IDEs ---
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log
**/logs/

# --- JAVA & SPRING (Microservicios) ---
**/target/
**/build/
.metadata
.mtj.tmp/
*.class
*.jar
*.war
*.nar
*.ear
hs_err_pid*
replay_pid*
**/nbactions.xml
**/nb-configuration.xml
.nb-gradle/

# --- PYTHON (Microservicio IA) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env.book.env
.env

# --- ANGULAR (Estructura Frontend) ---
**/node_modules/
**/dist/
.angular/
.editorconfig
.eslintcache

# --- INFRAESTRUCTURA & DOCKER ---
.docker/
# Si usas persistencia local de datos en Docker, ignora las carpetas de datos
# docker-data/

.agent/
.continue/
GEMINI.md
graphify-out/